*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background-color: coral;
}

.imgLogo{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: block;
}
@media only screen and (min-width: 700px){
    .imgLogo{
        width: 25rem;
        height: 25rem;
        margin-left: 10px;
        margin-top: 100px;
        display: inline-block;
    }
}
h1{
    font-size: 5rem;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
@media only screen and (min-width: 700px){
    h1{
        display: inline-block;
        text-align: center;
        margin-top: 100px;
        margin: 0;
    }
}



